<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">



    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">

                </div>
                <div class="sidebar-brand-text mx-3">Dash Bord<sup></sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->


            <!-- Divider -->


            

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Departments</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        <a class="collapse-item" href="/admin/printing">Printing Technology</a>
                        <a class="collapse-item" href="/admin/electronics">Electronics Engineering</a>
                        <a class="collapse-item" href="/admin/computer">Computer Engineering</a>
                        <a class="collapse-item" href="/admin/general">General Departments</a>
                        <a class="collapse-item" href="/admin/mechanical">Mechanical Workshop</a>
                        <a class="collapse-item" href="/admin/office">Office</a>

                    </div>
                </div>
            </li>


            <!-- Nav Item - Pages Collapse Menu -->


            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Gallery</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/admin/nccGallery">NCC</a>
                        <a class="collapse-item" href="/admin/nssGallery">NSS</a>
                        <a class="collapse-item" href="/admin/iedcGallery">IEDC</a>
                        <a class="collapse-item" href="/admin/hostelGallery">HOSTEL</a>
                        <a class="collapse-item" href="/admin/auditoriumGallery">AUDITORIUM</a>
                        <a class="collapse-item" href="/admin/WorkShopGallery">WORK SHOP</a>
                        <a class="collapse-item" href="/admin/asapGallery">ASAP</a>
                        <a class="collapse-item" href="/admin/libraryGallery">LIBRARY</a>
                        <a class="collapse-item" href="/admin/seminarHallGallery">SEMINAR HALL</a>
                        <a class="collapse-item" href="/admin/canteenGallery">CANTEEN</a>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Co-Curricular</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        <a class="collapse-item" href="/admin/coCurricular">All</a>

                        

                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/landingPage">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Home</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/principal">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Principal</span></a>
            </li>

             <hr class="sidebar-divider my-0">
           

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
            <!-- Sidebar Message -->


        </ul>
        <!-- End of Sidebar -->

   

    <section id="departments" class="container department" data-aos="fade-up">
      <div class="section-title">
        <h2>Departments</h2>
        <!-- <p>Our former student Dr.Rajendrakumar Anayat who stood in 1st rank from the Institution in 1990 received Printing Industry Research Association [PIRA] academic excellence award..</p> -->
      </div>
      <!-- Card deck -->
      <div class="card-deck">
        <!-- Card -->
        <div class="card mb-4">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top cardimage"
              src="/assent/images/sections/computercard.jpg"
              alt="Card image cap"
            />
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Computer Engineering</h4>
            <!--Text-->
            <p class="card-text" style="text-align: justify !important;">
              Computer Engineering Department was established in 1989. We have an annual intake of 60 with additional 10% for lateral entry students
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a href="compengg.html" type="button" class="btn btn-primary"
              >Read more</a
            >
          </div>
        </div>

        <!-- Card -->
        <div class="card mb-4 lg-4">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top cardimage"
              src="/assent/images/sections/electroniccard.jpg"
              alt="Card image cap"
            />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body lg-4">
            <!--Title-->
            <h4 class="card-title">Electronics Engineering</h4>
            <!--Text-->
            <p class="card-text" style="text-align: justify;">
              Electronics Department established in the year 1988. The annual intake is 60 with an additional 10% lateral entry students at second year onwards.
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a href="eleengg.html" type="button" class="btn btn-primary"
              >Read more</a
            >
          </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4 lg-4">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top cardimage"
              src="/assent/images/sections/printingcard.jpg"
              alt="Card image cap"
            />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Printing Technology</h4>
            <!--Text-->
            <p class="card-text" >
              The program was started in the year 1967 and successfully completed 50 years its existence as a Centre of excellence in Printing Technology
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a href="printtech.html" type="button" class="btn btn-primary"
              >Read more</a
            >
          </div>
        </div>
        <!-- Card -->

        <!-- Card -->
      </div>
      <!-- Card deck -->
    </section>



    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->


    <!-- Logout Modal-->


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

    <script>
        var model=document.getElementById("collapseUtilities")
        window.onclick=function(event){
            if(evet.target==model){
                model.style.display="none" ;
            }
        }
       
    </script>



</body>

</html>