
    
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#"
        ><img src="assent/images/logos/ipt(1)(1).png" alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Admin <span class="sr-only">(current)</span></a
            >
          </li>
          
        </ul>
      </div>
      <div class="logo2">
        <img src="assent/images/logos/govt logo.png" alt="">
      </div>
    </nav>
    