 <!-- footer section start -->

    <!-- Footer -->

    <footer class="page-footer font-small pt-4">
      <!-- Footer Text -->
      <div class="container-fluid text-center text-md-left fcontent">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">
            <!-- Content -->
            <img
              class="bootmlogo"
              src="/assent/images/logos/ipt(1)(1).png"
              alt=""
            />
            <!-- <h5 class="text-uppercase font-weight-bold">IPT & GPTC <br> SHORANUR</h5> -->
            <p style="word-break: break-all"></p>
            <p style="word-break: break-all">
              <a class="quicklink footerp" href=""
                ><i class="icofont-long-arrow-right"></i>Departments</a
              >
              <br />

              <a class="quicklink footerp" href="/aboutUs"
                ><i class="icofont-long-arrow-right"></i>About Us</a
              >
              <br />

              <a class="quicklink footerp" href="/gallery"
                ><i class="icofont-long-arrow-right"></i>Gallery</a
              ><br />

              <a class="quicklink footerp" href="/iedc"
                ><i class="icofont-long-arrow-right"></i>IEDC</a
              >
            </p>
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3" />

          <!-- Grid column -->
          <div class="col-md-6 mb-md-0 mb-3">
            <!-- Content -->
            <h5 class="footer2 text-uppercase font-weight-bold">Contact US</h5>
            <p class="footerp">
              Office of the Principal, <br />
              Institute of Printing Technology & <br />
              Govt. Polytechnic College, Shoranur <br />
              Ph. No. 0466 2220450 <br />
              Opening Time - 8:30 am<br />
              Closing Time - 5:00 pm
            </p>
            <!-- Facebook -->
            <a
              id="fb"
              class="fb-ic social"
              target="_blank"
              href="https://www.facebook.com/iptgpc/"
            >
              <i class="icofont-facebook"></i>
            </a>
            <!-- instagram -->
            <a
              id="insta"
              class="ins-ic social"
              target="_blank"
              href="http://www.instagram.com/ipt_gptc"
            >
              <i class="icofont-instagram"></i>
            </a>
            <!-- youtube -->
            <a
              id="youtube"
              class="ins-ic social"
              target="_blank"
              href="http://www.youtube.com/c/iptgptcshoranurvideos"
            >
              <i class="icofont-youtube-play"></i>
            </a>
            <!-- email -->
            <a
              id="mail"
              class="ins-ic social"
              target="_blank"
              href="mailto:polyshoranur@gmail.com"
            >
              <img src="/assent/images/logos/icons8-gmail-48.png" alt="" />
            </a>
            <!--Pinterest-->
            <!-- <a class="pin-ic">f
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a> -->
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Footer Text -->

      <!-- Copyright -->
      <div class="footer-copyright copy text-center py-3">
       
        <a href="/admin" id="button" >©</a>
                
        2020 Copyright:
        <a href="#"> ipt&gptcshoranur</a>
        <a   target="__blank"  href="/developers">Designed by  Web_Devs</a>
      </div>
      <!-- Copyright -->
    </footer>
    <div id="go-top">
      <i class="icofont-stylish-up"></i>
    </div>

    <!-- Footer -->
    <!-- footer section end -->
    <style>
      #button{
        background: none;
        border: none;
        -moz-user-select: none;
        color: white;
      }
    </style>
    

   