
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#"
        ><img src="/assent/images/logos/ipt(1)(1).png" alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutUs">About us</a>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Departments
            </a>
            <div
              class="dropdown-menu"
              style="background-color: #2676a76e"
              aria-labelledby="navbarDropdown"
            >
              <a class="dropdown-item" style="color: #fff" href="/electronics"
                >Electronics Engineering</a
              >
              <a class="dropdown-item" style="color: #fff" href="/computer"
                >Computer Engineering</a
              >
              <a class="dropdown-item" style="color: #fff" href="/printing"
                >Printing Technology</a
              >
              <a class="dropdown-item" style="color: #fff" href="/general"
                >General Departments</a
              >
              <a class="dropdown-item" style="color: #fff" href="/mechanical"
                >Mechanical Engineering Workshop</a
              >
              <a class="dropdown-item" style="color: #fff" href="/office"
                >Office</a
              >
            </div>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Co-curricular
            </a>
            <div
              class="dropdown-menu"
              style="background-color: #2676a76e"
              aria-labelledby="navbarDropdown"
            >
              <a class="dropdown-item" style="color: #fff" href="/ncc"
                >NCC</a
              >
              <a class="dropdown-item" style="color: #fff" href="/nss"
                >NSS</a
              >
              <a class="dropdown-item" style="color: #fff" href="/iedc"
                >IEDC</a
              >
              <a class="dropdown-item" style="color: #fff" href="/asap"
                >ASAP</a
              >
              <!-- <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="iedc.html">IEDC</a> -->
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="facilities.html">Facilities</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="gallery.html">Gallery</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="bog.html">BOG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="downloads.html">Downloads</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact us</a>
          </li>
        </ul>
      </div>
      <div class="logo2">
        <img src="/assent/images/logos/govt logo.png" alt="">
      </div>
    </nav>