<section>
  <div class="raw">
  <div class="col-md-3">
    <div class="dashbord">
      <div><a href="">Dash Bord</a></div>
      <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Departments
            </a>
            <div
              class="dropdown-menu"
              style="background-color: #020024"
              aria-labelledby="navbarDropdown"
            >
              <a class="dropdown-item" style="color: #fff" href="eleengg.html"
                >Electronics Engineering</a
              >
              <a class="dropdown-item" style="color: #fff" href="compengg.html"
                >Computer Engineering</a
              >
              <a class="dropdown-item" style="color: #fff" href="printtech.html"
                >Printing Technology</a
              >
              <a class="dropdown-item" style="color: #fff" href="gendept.html"
                >General Departments</a
              >
              <a class="dropdown-item" style="color: #fff" href="work.html"
                >Mechanical Engineering Workshop</a
              >
              <a class="dropdown-item" style="color: #fff" href="office.html"
                >Office</a
              >
            </div>
          </li>
           <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Co-curricular
            </a>
            <div
              class="dropdown-menu"
              style="background-color: #020024"
              aria-labelledby="navbarDropdown"
            >
              <a class="dropdown-item" style="color: #fff" href="ncc.html"
                >NCC</a
              >
              <a class="dropdown-item" style="color: #fff" href="nss.html"
                >NSS</a
              >
              <a class="dropdown-item" style="color: #fff" href="iedc.html"
                >IEDC</a
              >
              <a class="dropdown-item" style="color: #fff" href="asap.html"
                >ASAP</a
              >
              <!-- <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="iedc.html">IEDC</a> -->
            </div>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link "
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Gallery
            </a>
            <div
              class="dropdown-menu"
               style="background-color: #020024"
              aria-labelledby="navbarDropdown"
              
            >
              <a class="dropdown-item" style="color: #fff" href="eleengg.html"
                >NCC</a
              >
              <a class="dropdown-item" style="color: #fff" href="compengg.html"
                >NSS</a
              >
              <a class="dropdown-item" style="color: #fff" href="printtech.html"
                >IPT</a
              >
              <a class="dropdown-item" style="color: #fff" href="gendept.html"
                >IEDC</a
              >
              <a class="dropdown-item" style="color: #fff" href="work.html"
                >HOSTEL</a
              >
              <a class="dropdown-item" style="color: #fff" href="office.html"
                >AUDITORIUM</a
              >
              <a class="dropdown-item" style="color: #fff" href="office.html"
                >WORK SHOP</a
              >
              <a class="dropdown-item" style="color: #fff" href="office.html"
                >ASAP</a
              >
              <a class="dropdown-item" style="color: #fff" href="office.html"
                >LIBRARY</a
              >
              <a class="dropdown-item" style="color: #fff" href="office.html"
                >SEMINAR HALL</a
              >
              <a class="dropdown-item" style="color: #fff" href="office.html"
                >CANTEEN</a
              >
            </div>
          </li>

          
      

    </div>

  </div>
  <div class="col-md-8">
     <!-- service section start -->

    <section id="departments" class="container department" data-aos="fade-up">
      <div class="section-title">
        <h2>Departments</h2>
        <!-- <p>Our former student Dr.Rajendrakumar Anayat who stood in 1st rank from the Institution in 1990 received Printing Industry Research Association [PIRA] academic excellence award..</p> -->
      </div>
      <!-- Card deck -->
      <div class="card-deck">
        <!-- Card -->
        <div class="card mb-4">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top cardimage"
              src="assent/images/sections/computercard.jpg"
              alt="Card image cap"
            />
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Computer Engineering</h4>
            <!--Text-->
            <p class="card-text" style="text-align: justify !important;">
              Computer Engineering Department was established in 1989. We have an annual intake of 60 with additional 10% for lateral entry students
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
           <div class="operations">
                <a href="printtech.html" type="button" class="btn btn-danger"
              >Remove</a
            >
            <a href="printtech.html" type="button" class="btn btn-success"
              >Edit</a
            >
           </div>
          </div>
        </div>

        <!-- Card -->
        <div class="card mb-4 lg-4">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top cardimage"
              src="assent/images/sections/electroniccard.jpg"
              alt="Card image cap"
            />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body lg-4">
            <!--Title-->
            <h4 class="card-title">Electronics Engineering</h4>
            <!--Text-->
            <p class="card-text" style="text-align: justify;">
              Electronics Department established in the year 1988. The annual intake is 60 with an additional 10% lateral entry students at second year onwards.
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <div class="operations">
                <a href="printtech.html" type="button" class="btn btn-danger"
              >Remove</a
            >
            <a href="printtech.html" type="button" class="btn btn-success"
              >Edit</a
            >
            </div>
          </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4 lg-4">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top cardimage"
              src="assent/images/sections/printingcard.jpg"
              alt="Card image cap"
            />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Printing Technology</h4>
            <!--Text-->
            <p class="card-text" >
              The program was started in the year 1967 and successfully completed 50 years its existence as a Centre of excellence in Printing Technology
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
           <div class="operations">
               <a href="printtech.html" type="button" class="btn btn-danger"
              >Remove</a
            >
            <a href="printtech.html" type="button" class="btn btn-success"
              >Edit</a
            >
           </div>
          </div>
        </div>
        <!-- Card -->

        <!-- Card -->
      </div>
      <!-- Card deck -->
    </section>
    <!-- service section end -->
   
  </div>
  </div>
</section>

 <style>
        .operations{
            text-align: center;
            word-spacing: 5rem;
        }
        .btn{
            color: gray;
            height: auto;
            width: 6rem;
        }
        .btn-danger {
    color: #fff;
    background-color: lightgray;
     border-color:transparent;
}
.btn-success {
    color: #fff;
    background-color: #ccdacf;
    border-color:transparent; 
}
.raw{
  display: flex;
}
.dashbord{
  text-align: center;
  max-width: auto;
  height: auto;
  background-color: #020024;
}
a{
  color: white;
  font-size: larger;
  font-weight: bolder;
  text-decoration: white;
}
    </style>