 <!-- service section start -->

    <section id="departments" class="container department" data-aos="fade-up">
      <div class="section-title">
        <h2>Departments</h2>
        <!-- <p>Our former student Dr.Rajendrakumar Anayat who stood in 1st rank from the Institution in 1990 received Printing Industry Research Association [PIRA] academic excellence award..</p> -->
      </div>
      <!-- Card deck -->
      <div class="card-deck">
        <!-- Card -->
        <div class="card mb-4">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top cardimage"
              src="assent/images/sections/computercard.jpg"
              alt="Card image cap"
            />
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Computer Engineering</h4>
            <!--Text-->
            <p class="card-text" style="text-align: justify !important;">
              Computer Engineering Department was established in 1989. We have an annual intake of 60 with additional 10% for lateral entry students
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
           <div class="operations">
                <a href="printtech.html" type="button" class="btn btn-danger"
              >Remove</a
            >
            <a href="printtech.html" type="button" class="btn btn-success"
              >Edit</a
            >
           </div>
          </div>
        </div>

        <!-- Card -->
        <div class="card mb-4 lg-4">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top cardimage"
              src="assent/images/sections/electroniccard.jpg"
              alt="Card image cap"
            />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body lg-4">
            <!--Title-->
            <h4 class="card-title">Electronics Engineering</h4>
            <!--Text-->
            <p class="card-text" style="text-align: justify;">
              Electronics Department established in the year 1988. The annual intake is 60 with an additional 10% lateral entry students at second year onwards.
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <div class="operations">
                <a href="printtech.html" type="button" class="btn btn-danger"
              >Remove</a
            >
            <a href="printtech.html" type="button" class="btn btn-success"
              >Edit</a
            >
            </div>
          </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4 lg-4">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top cardimage"
              src="assent/images/sections/printingcard.jpg"
              alt="Card image cap"
            />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Printing Technology</h4>
            <!--Text-->
            <p class="card-text" >
              The program was started in the year 1967 and successfully completed 50 years its existence as a Centre of excellence in Printing Technology
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
           <div class="operations">
               <a href="printtech.html" type="button" class="btn btn-danger"
              >Remove</a
            >
            <a href="printtech.html" type="button" class="btn btn-success"
              >Edit</a
            >
           </div>
          </div>
        </div>
        <!-- Card -->

        <!-- Card -->
      </div>
      <!-- Card deck -->
    </section>
    <!-- service section end -->
    <style>
        .operations{
            text-align: center;
            word-spacing: 5rem;
        }
        .btn{
            color: gray;
            height: auto;
            width: 6rem;
        }
        .btn-danger {
    color: #fff;
    background-color: lightgray;
     border-color:transparent;
}
.btn-success {
    color: #fff;
    background-color: #ccdacf;
    border-color:transparent; 
}
    </style>