
    <!-- inner banner -->
    <div class="inner_banner layer" id="home">
      <div class="container">
        <div class="agileinfo-inner">
          <h2 class="text-center" style="color: rgba(255, 255, 255, 0.493)">
            Contact Us
          </h2>
        </div>
      </div>
    </div>
    <!-- //inner banner -->
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
      </ol>
    </nav>
    <!-- //breadcrumbs -->

    <!-- contact -->
    <section class="contact py-5" id="contact">
      <div class="container py-sm-3">
        <h3 class="heading text-capitalize mb-lg-5 mb-4">
          Contact Us - <span>Get In Touch</span>
        </h3>
        <div class="address row">
          <div class="col-md-4 address-grid">
            <div class="address-info">
              <div class="address-left text-center">
                <i class="bx bx-map"></i>
              </div>
              <div class="address-right text-center">
                <h6 class="ad-info text-uppercase mb-2">Address</h6>
                <p>
                  Institute of Printing Technology & Government Polytechnic
                  College, Govt. Press P.O Pin 679122 Palakkad Dist. Kerala
                  India
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 address-grid">
            <div class="address-info">
              <div class="address-left text-center">
                <i class="bx bx-envelope"></i>
              </div>
              <div class="address-right text-center">
                <h6 class="ad-info text-uppercase mb-2">Email</h6>
                <a href="polyshoranur@gmail.com">polyshoranur@gmail.com </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 address-grid">
            <div class="address-info">
              <div class="address-left text-center">
                <i class="bx bx-phone-call"></i>
              </div>
              <div class="address-right text-center">
                <h6 class="ad-info text-uppercase mb-2">Phone</h6>
                <p>0466 222 0450</p>
              </div>
            </div>
          </div>
        </div>
        <div class="form row py-5">
          <div class="col-lg-6 contact-form">
            <form action="#" method="post">
              <div class="fields-grid">
                <div class="styled-input agile-styled-input-top">
                  <input type="text" name="First name" required="" />
                  <label>Full Name</label>
                  <span></span>
                </div>
                <div class="styled-input">
                  <input type="email" name="Email" required="" />
                  <label>Email Address</label>
                  <span></span>
                </div>
                <div class="styled-input">
                  <input type="tel" name="Phone" required="" />
                  <label>Phone Number</label>
                  <span></span>
                </div>
                <div class="styled-input mt-5">
                  <textarea></textarea>
                  <label class="text">Your Message</label>
                  <span></span>
                </div>
              </div>
              <input type="submit" value="Submit" />
            </form>
          </div>
          <div class="col-lg-6 mt-lg-0 mt-5">
            <div class="bg-img">
              <div class="contact-layer">
                <h3 class="mb-3">
                  Don't hesitate to contact us for any kind of information
                </h3>
                <p><i class="fas mr-2 fa-phone"></i>0466 222 0450</p>
              </div>
            </div>
          </div>
        </div>

        <div class="map">
          <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387142.84010033106!2d-74.25819252532891!3d40.70583163828471!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1475140387172"
						style="border:0"></iframe> -->
          <iframe
            width="600"
            height="500"
            id="gmap_canvas"
            src="https://maps.google.com/maps?q=ipt%20and%20gptc%20shoranur&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
          ></iframe>
        </div>
      </div>
    </section>

    <!-- footer section start -->

    <!-- Login modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel1"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-uppercase" id="exampleModalLabel1">
              Login
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="#" method="post" class="p-3">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label"
                  >User Name</label
                >
                <input
                  type="email"
                  class="form-control"
                  placeholder="User Name"
                  name="Name"
                  id="recipient-name"
                  required=""
                />
              </div>
              <div class="form-group">
                <label for="recipient-name1" class="col-form-label"
                  >Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  name="Name"
                  id="recipient-name1"
                  required=""
                />
              </div>
              <div class="right-w3l mt-4 mb-3">
                <input type="submit" class="form-control" value="Login" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- //Login modal -->

    <!-- Register modal -->
    <div
      class="modal fade"
      id="exampleModal1"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel1"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-uppercase">Register Here</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/send-contact" method="post" class="p-3">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label"
                  >First Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="First Name"
                  name="Name"
                  id="recipient-name2"
                  required=""
                />
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label"
                  >Last Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Last Name"
                  name="Name"
                  id="recipient-name3"
                  required=""
                />
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label"
                  >Email id</label
                >
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email id"
                  name="Name"
                  id="recipient-name4"
                  required=""
                />
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label"
                  >Mobile Number</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Mobile Number"
                  name="Name"
                  id="recipient-name5"
                  required=""
                />
              </div>
              <div class="form-group">
                <label for="recipient-name1" class="col-form-label"
                  >Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  name="Name"
                  id="recipient-name6"
                  required=""
                />
              </div>
              <div class="right-w3l mt-4 mb-3">
                <input
                  type="submit"
                  class="form-control"
                  value="Create account"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- //Register modal -->

    <!-- preloader start   -->

<div class="loader"></div>

<!-- preloder end -->

    <!-- js -->
    <script type="text/javascript" src="assent/js/jquery-2.2.3.min.js"></script>

    <!-- //js -->

    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- FADE -->
    <script>
      AOS.init({
        once: true,
      });
    </script>

    <!-- ZOOMOUT ZOOMIN -->
    <script>
      const bg = document.getElementById("home");
      window.addEventListener("scroll", function () {
        bg.style.backgroundSize = 180 - +window.pageYOffset / 12 + "%";
      });
    </script>

    <!-- SCROLL TO TOP -->

    <script type="text/javascript">
      (function ($, window, document) {
        $.fn.goTop = function (options) {
          var defaults = {
            scrollTop: 100,
            scrollSpeed: 1000,
            fadeInSpeed: 1000,
            fadeOutSpeed: 500,
          };
          var options = $.extend(defaults, options);
          var $this = $(this);
          $(window).on("scroll", function () {
            if ($(window).scrollTop() > options.scrollTop) {
              $this.fadeIn(options.fadeInSpeed);
            } else {
              $this.fadeOut(options.fadeOutSpeed);
            }
          });
          $this.on("click", function () {
            $("html,body").animate(
              {
                scrollTop: 0,
              },
              options.speed
            );
          });
        };
      })(jQuery, window, document);

      $("#go-top").goTop({
        scrollTop: 100,
        scrollSpeed: 1000,
        fadeInSpeed: 1000,
        fadeOutSpeed: 500,
      });
    </script>