
 

  <!-- inner banner -->
  <div class="inner_banner layer" id="home" style="background-attachment: fixed">
    <div class="container">
      <div class="agileinfo-inner">
        <h2 class="text-center" style="color: rgba(255, 255, 255, 0.493)">
          DOWNLOADS
        </h2>
      </div>
    </div>
  </div>
  <!-- //inner banner -->

  <!-- DOWNLOADS -->
  <section class="border-top border-bottom text-center" data-aos="fade-up">
    <div class="container">
      <!-- Section heading -->
      <div class="section-title">
        <h2>COMPUTER ENGINEERING</h2>
      </div>
      <!-- Section description -->
      <div class="content">

        <button type="button" class="btn btn-outline-info btn-round" data-toggle="modal" data-target="#css1" style="margin-top: .5rem; margin-right: .3rem;">
          SEMESTER 1
        </button>
        <button type="button" class="btn btn-outline-info btn-round" data-toggle="modal" data-target="#css2" style="margin-top: .5rem; margin-right: .3rem;">
          SEMESTER 2
        </button>
        <button type="button" class="btn btn-outline-info btn-round" data-toggle="modal" data-target="#css3" style="margin-top: .5rem; margin-right: .3rem;">
          SEMESTER 3
        </button>
        <button type="button" class="btn btn-outline-info btn-round" data-toggle="modal" data-target="#css4" style="margin-top: .5rem; margin-right: .3rem;">
          SEMESTER 4
        </button>
        <button type="button" class="btn btn-outline-info btn-round" data-toggle="modal" data-target="#css5" style="margin-top: .5rem; margin-right: .3rem;">
          SEMESTER 5
        </button>
        <button type="button" class="btn btn-outline-info btn-round" data-toggle="modal" data-target="#css6" style="margin-top: .5rem; margin-right: .3rem;">
          SEMESTER 6
        </button>
        <div class="modal fade" id="css1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h2  style="align-items: center;">SEMESTER 1</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
              <div class="modal-body">
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1001" download="1001.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;">1001-English For Communication 1</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1002" download="1002.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 1002-Engineering Mathematics 1</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1003" download="1003.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 1003-Engineering Physics 1</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1004" download="1004.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 1004-Engineering Chemistry 1</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1008" download="1008.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 1008-Computer Funtamentals</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1009" download="1009.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 1009-Health and Physical</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2005" download="2005.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2005-Engineering Graphics</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2007" download="2007.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2007-Engineering Science Lab 1</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2008" download="2008.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2008-Workshop Practice</button></a>


              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="css2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h2  style="align-items: center;">SEMESTER 2</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
              <div class="modal-body">
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2001" download="2001.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2001-English For Communication II</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2002" download="2002.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2002-Engineering Mathematics II</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2003" download="2003.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2003-Engineering Physics II</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2004" download="2004.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2004-Engineering Chemistry II</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2005" download="2005.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2005-Engineering Graphics</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2007" download="2007.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2007-Engineering Science Lab II</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2008" download="2008.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2008-Workshop Practice</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2009" download="2009.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2009-Life Skill</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2131" download="2131.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2131-Programming in C</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2139" download="2139.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2139-Programming in C Lab</button></a>

              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="css3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h2  style="align-items: center;">SEMESTER 3</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
              <div class="modal-body">
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=3133" download="3133.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 3131-Digital Computer Principles</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=3134" download="3134.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 3134-Object Oriented Programming through C++</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=3131" download="3131.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 3131-Computer Architecture</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=3132" download="3132.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 3132-Database Management System</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=3001" download="3001.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 3001-Environmental Science & Disaster Management</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=3138" download="3138.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 3138-Digital Computer Principles Lab</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=3137" download="3137.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 3137-Object Oriented Programming Lab</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=3139" download="3139.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 3139-Database Management System Lab</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="css4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h2  style="align-items: center;">SEMESTER 4</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
              <div class="modal-body">
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=4132" download="4132.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 4132-Data Communication</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=4134" download="4134.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 4134-Operating Systems</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=4133" download="4133.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 4133-Data Structures</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=4131" download="4131.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 4131-Computer System Hardware</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=4139" download="4139.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 4139-System Administration Lab</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=4138" download="4138.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 4138-Data Structures Lab</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=4137" download="4137.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 4137-Computer System Hardware Lab</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=4136" download="4136.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 4136-Application Development using Java</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="css5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h2  style="align-items: center;">SEMESTER 5</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
              <div class="modal-body">
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=5132" download="5132.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 5132-Project Management & Software Engineering</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=5133" download="5133.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 5133-Web Programming</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=5131" download="5131.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 5131-Microprocessor and Interfacing</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=5136" download="5136.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 5136-Information Security </button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=5153" download="5153.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 5153-Ethical Hacking</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=5134" download="5134.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 5134-Cloud Computing</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=5139" download="5139.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 5139-Web Programming Lab</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=5138" download="5138.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 5138-Microprocessor Lab</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=5009" download="5009.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 5009-Industrial Training/Industrial Visit/Collaborative work</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=5137" download="5137.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 5137-Computer Network Engineering Lab</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=6009" download="6009.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 6009-Project & Seminar</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="css6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h2  style="align-items: center;">SEMESTER 6</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
              <div class="modal-body">
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
</section>


    <section class="section staff border-top border-bottom text-center" data-aos="fade-up">
      <div class="container">
      <div class="section-title">
        <h2>ELECTRONICS ENGINEERING</h2>
      </div>
      <!-- Section description -->
      <div class="content">

        <button type="button" class="btn btn-outline-info btn-round" data-toggle="modal" data-target="#ess1" style="margin-top: .5rem; margin-right: .3rem;">
          SEMESTER 1
        </button>
        <button type="button" class="btn btn-outline-info btn-round" data-toggle="modal" data-target="#ess2" style="margin-top: .5rem; margin-right: .3rem;">
          SEMESTER 2
        </button>
        <button type="button" class="btn btn-outline-info btn-round" data-toggle="modal" data-target="#ess3" style="margin-top: .5rem; margin-right: .3rem;">
          SEMESTER 3
        </button>
        <button type="button" class="btn btn-outline-info btn-round" data-toggle="modal" data-target="#ess4" style="margin-top: .5rem; margin-right: .3rem;">
          SEMESTER 4
        </button>
        <button type="button" class="btn btn-outline-info btn-round" data-toggle="modal" data-target="#ess5" style="margin-top: .5rem; margin-right: .3rem;">
          SEMESTER 5
        </button>
        <button type="button" class="btn btn-outline-info btn-round" data-toggle="modal" data-target="#ess6" style="margin-top: .5rem; margin-right: .3rem;">
          SEMESTER 6
        </button>
        <div class="modal fade" id="ess1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h2  style="align-items: center;">SEMESTER 1</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
              <div class="modal-body">
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1001" download="1001.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;">1001-English For Communication 1</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1002" download="1002.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 1002-Engineering Mathematics 1</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1003" download="1003.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 1003-Engineering Physics 1</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1004" download="1004.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 1004-Engineering Chemistry 1</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1008" download="1008.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 1008-Computer Funtamentals</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1009" download="1009.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 1009-Health and Physical</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2005" download="2005.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2005-Engineering Graphics</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2007" download="2007.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2007-Engineering Science Lab 1</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2008" download="2008.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2008-Workshop Practice</button></a>

              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="ess2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h2  style="align-items: center;">SEMESTER 2</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
              <div class="modal-body">
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2001" download="2001.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2001-English For Communication II</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2002" download="2002.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2002-Engineering Mathematics II</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2003" download="2003.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2003-Engineering Physics II</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2004" download="2004.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2004-Engineering Chemistry II</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2005" download="2005.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2005-Engineering Graphics</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2007" download="2007.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2007-Engineering Science Lab II</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2008" download="2008.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2008-Workshop Practice</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2009" download="2009.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2009-Life Skill</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2041" download="2041.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2041-Basic Electronics</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2049" download="2049.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2049-Basic Electronics Lab</button></a>

              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="ess3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h2  style="align-items: center;">SEMESTER 3</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
              <div class="modal-body">
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="ess4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h2  style="align-items: center;">SEMESTER 4</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
              <div class="modal-body">
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="ess5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h2  style="align-items: center;">SEMESTER 5</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
              <div class="modal-body">
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="ess6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h2  style="align-items: center;">SEMESTER 6</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
              <div class="modal-body">
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
              </div>
            </div>
          </div>
        </div>
    </div>
      </div>
      </section>


      <section class="section staff border-top border-bottom text-center" data-aos="fade-up">
        <div class="container">
      <div class="section-title">
        <h2>PRINTING TECHNOLOGY</h2>
      </div>
      <!-- Section description -->
      <div class="content">

        <button type="button" class="btn btn-outline-info btn-round" data-toggle="modal" data-target="#pts1" style="margin-top: .5rem; margin-right: .3rem;">
          SEMESTER 1
        </button>
        <button type="button" class="btn btn-outline-info btn-round" data-toggle="modal" data-target="#pts2" style="margin-top: .5rem; margin-right: .3rem;">
          SEMESTER 2
        </button>
        <button type="button" class="btn btn-outline-info btn-round" data-toggle="modal" data-target="#pts3" style="margin-top: .5rem; margin-right: .3rem;">
          SEMESTER 3
        </button>
        <button type="button" class="btn btn-outline-info btn-round" data-toggle="modal" data-target="#pts4" style="margin-top: .5rem; margin-right: .3rem;">
          SEMESTER 4
        </button>
        <button type="button" class="btn btn-outline-info btn-round" data-toggle="modal" data-target="#pts5" style="margin-top: .5rem; margin-right: .3rem;">
          SEMESTER 5
        </button>
        <button type="button" class="btn btn-outline-info btn-round" data-toggle="modal" data-target="#pts6" style="margin-top: .5rem; margin-right: .3rem;">
          SEMESTER 6
        </button>
        <div class="modal fade" id="pts1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h2  style="align-items: center;">SEMESTER 1</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
              <div class="modal-body">
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1001" download="1001.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;">1001-English For Communication 1</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1002" download="1002.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 1002-Engineering Mathematics 1</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1003" download="1003.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 1003-Engineering Physics 1</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1004" download="1004.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 1004-Engineering Chemistry 1</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1008" download="1008.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 1008-Computer Funtamentals</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1009" download="1009.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 1009-Health and Physical</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2005" download="2005.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2005-Engineering Graphics</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2007" download="2007.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2007-Engineering Science Lab 1</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2008" download="2008.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2008-Workshop Practice</button></a>

              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="pts2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h2  style="align-items: center;">SEMESTER 2</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
              <div class="modal-body">
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2001" download="2001.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2001-English For Communication II</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2002" download="2002.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2002-Engineering Mathematics II</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2003" download="2003.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2003-Engineering Physics II</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2004" download="2004.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2004-Engineering Chemistry II</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2005" download="2005.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2005-Engineering Graphics</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2007" download="2007.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2007-Engineering Science Lab II</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2008" download="2008.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2008-Workshop Practice</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2009" download="2009.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2009-Life Skill</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2101" download="2101.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2101-Basics of Printing Process</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2109" download="2109.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2109-Basics of Printing Process Lab</button></a>

              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="pts3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h2  style="align-items: center;">SEMESTER 3</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
              <div class="modal-body">
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="pts4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h2  style="align-items: center;">SEMESTER 4</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
              <div class="modal-body">
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="pts5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h2  style="align-items: center;">SEMESTER 5</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
              <div class="modal-body">
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="pts6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h2  style="align-items: center;">SEMESTER 6</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
              <div class="modal-body">
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
                <button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> With Icon</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
      </section>


    <section class="section staff border-top border-bottom text-center" data-aos="fade-up">
      <div class="container">
    <div class="section-title">
      <h2>GENERAL DEPARTMENTS</h2>
    </div>
    <!-- Section description -->
          <div class="content">

        <button type="button" class="btn btn-outline-info btn-round" data-toggle="modal" data-target="#gns1">
          SEMESTER 1
        </button>
        <button type="button" class="btn btn-outline-info btn-round" data-toggle="modal" data-target="#gns2">
          SEMESTER 2
        </button>
        <div class="modal fade" id="gns1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h2  style="align-items: center;">SEMESTER 1</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
              <div class="modal-body">
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1001" download="1001.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;">1001-English For Communication I</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1002" download="1002.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 1002-Engineering Mathematics I</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1003" download="1003.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 1003-Engineering Physics I</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1004" download="1004.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 1004-Engineering Chemistry I</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1008" download="1008.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 1008-Computer Funtamentals</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=1009" download="1009.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 1009-Health and Physical</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2005" download="2005.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2005-Engineering Graphics</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2007" download="2007.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2007-Engineering Science Lab I</button></a>
                  <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2008" download="2008.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2008-Workshop Practice</button></a>

              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="gns2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h2  style="align-items: center;">SEMESTER 2</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
              <div class="modal-body">
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2001" download="2001.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;">2001-English For Communication II</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2002" download="2002.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2002-Engineering Mathematics II</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2003" download="2003.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2003-Engineering Physics II</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2004" download="2004.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2004-Engineering Chemistry II</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2005" download="2005.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2005-Engineering Graphics</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2007" download="2007.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2007-Engineering Science Lab II</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2008" download="2008.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2008-Workshop Practice</button></a>
                <a href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus-course-contents&course=2009" download="2009.pdf"><button type="button" class="btn btn-info btn-round" style="margin-top: 0.25em;"> 2009-Life Skill</button></a>
            </div>
            </div>
          </div>
        </div>

    </div>
    </div>
  </section>

 <!-- preloader start   -->

<div class="loader"></div>

<!-- preloder end -->

  <!-- script -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="assent/js/app.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      autoplay: true,
      smartSpeed: 450,
      autoplayTimeout: 1500, //2000ms = 2s;
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1,
        },
        600: {
          items: 2,
        },
        720: {
          items: 2,
        },
        800: {
          items: 2,
        },
        1000: {
          items: 3,
        },
        1200: {
          items: 3,
        },
      },
    });
  </script>
  <!-- FADE -->
  <script>
    AOS.init({
      once: true,
    });
  </script>

  <!-- PRELOADER -->
  <script type="text/javascript">
    jQuery(window).load(function () {
      jQuery(".loader").fadeOut(500);
    });
  </script>

  <!-- ZOOMOUT ZOOMIN -->
  <script>
    const bg = document.getElementById("home");
    window.addEventListener("scroll", function () {
      bg.style.backgroundSize = 180 - +window.pageYOffset / 12 + "%";
    });
  </script>

  <!-- SCROLL TO TOP -->

  <script type="text/javascript">
    (function ($, window, document) {
      $.fn.goTop = function (options) {
        var defaults = {
          scrollTop: 100,
          scrollSpeed: 1000,
          fadeInSpeed: 1000,
          fadeOutSpeed: 500,
        };
        var options = $.extend(defaults, options);
        var $this = $(this);
        $(window).on("scroll", function () {
          if ($(window).scrollTop() > options.scrollTop) {
            $this.fadeIn(options.fadeInSpeed);
          } else {
            $this.fadeOut(options.fadeOutSpeed);
          }
        });
        $this.on("click", function () {
          $("html,body").animate(
            {
              scrollTop: 0,
            },
            options.speed
          );
        });
      };
    })(jQuery, window, document);

    $("#go-top").goTop({
      scrollTop: 100,
      scrollSpeed: 1000,
      fadeInSpeed: 1000,
      fadeOutSpeed: 500,
    });
  </script>