
    
    <!-- //inner banner -->

    <!-- inner banner -->
    <div
      class="inner_banner layer"
      id="home"
      style="background-attachment: fixed"
    >
      <div class="container">
        <div class="agileinfo-inner">
          <h2 class="text-center" style="color: rgba(255, 255, 255, 0.493)">
            FACILITIES
          </h2>
        </div>
      </div>
    </div>
    <!-- //inner banner -->

    <!-- breadcrumbs -->
   

    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Facilities</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#libr">Library</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#ccf">Central Computing Facility</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#lng">Language Lab</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#seminarhall">Seminar Hall</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#aud">Auditorium</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#boyshostel">Boys Hostel</a>
        </li>

        <li class="breadcrumb-item">
          <a href="#girlshostel">Girls Hostel</a>
        </li>

       <li class="breadcrumb-item">
          <a href="#canteen">Canteen</a>
        </li>
      </ol>
    </nav>

    <!-- ======= lib Section ======= -->
    <section id="libr" class="about" data-aos="fade-up">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Library</h2>
          <!-- <p>To develop eminent and ethical leaders in society by imparting quality professional education with emphasis on human values and holistic excellence.</p> -->
        </div>
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img
              src="assent/images/sections/bookslib.svg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <p style="text-align: justify">
              Our Library System consists of a Central Library and 6
              departmental libraries which collectively support the teaching and
              research programmes of the Institute and provides facilities for
              general reading and disseminates information according to the
              requirement of the users. Central Library has been started
              functional since 1965. It is housed in a separate building with a
              plinth area of 4000 sq. mtrs. The Library has a Computerised
              Library Information System, Reprographic centre and Internet
              Browing Centre. It has around 62,846 books, reports, standards and
              back volumes of journalsbooks. The functioning of the Library is
              monitored by a committee comprising of the Principal, one faculty
              from each Engineering Department, one faculty from Non Engineering
              Department, Librarian and the Chief Accountant
            </p>
            <a href="gallery.html" class="read-more bg-primary"
              >Go to Gallery <i class="icofont-long-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </section>
    <!-- End lib Section -->

    <!-- ccf section -->
    <section id="ccf" class="about" data-aos="fade-up">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Central Computing Facility</h2>
          <!-- <p>To develop eminent and ethical leaders in society by imparting quality professional education with emphasis on human values and holistic excellence.</p> -->
        </div>
        <div class="row">
          <div class="col-lg-6 pt-4 pt-lg-0 order-1 order-lg-2 content">
            <p style="text-align: justify">
              Central Computing Facility (CCF) is a centralized Computer Centre for the staff and students to fulfill the various computing needs. Our college is powered by a Fiber laid Gigabit Campus Area Networking and CCF is at the core providing Internet Enabled Computing Facility with a wide spread of WIFI access across the campus.

              The networking devices installed are Core Layer 3 10G Switch: 1No, 10GbE Single Mode Fiber Transceivers:2 Nos, Layer 2 + Distribution Switch:15 Nos with 802.11 AC Wireless Access Points (Virtual/Software Controller): 10 Nos etc. in a structured cabling Campus Area Network.  The internet connection is provided under NMEICT scheme with a bandwidth of 40mbps download speed with a static IP Address. 
            </p>
            <a href="gallery.html" class="read-more bg-primary"
              >Go to Gallery <i class="icofont-long-arrow-right"></i
            ></a>
          </div>

          <div class="col-lg-6 order-2 order-lg-1">
            <img
              src="assent/images/sections/COMPUTER.svg"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- ccf section end -->

    <!-- language lab -->
    <section id="lng" class="about" data-aos="fade-up">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Language Lab</h2>
          <!-- <p>To develop eminent and ethical leaders in society by imparting quality professional education with emphasis on human values and holistic excellence.</p> -->
        </div>
        <div class="row">
          <div class="col-lg-6 pt-4 pt-lg-0 order-1 order-lg-2 content">
            <p style="text-align: justify">
              This LAB facilitates Digital Linguistic Mentor [DLM] – the revolutionary Java-based language learning laboratory that blends time-tested methodologies with interactive technology to deliver a superb teaching and learning experience!
 
              DLM is a spanking new, top-of-the-line and user-friendly language learning platform, painstakingly developed from the ground up, delivering world-class language learning solutions from pioneering analogue labs to futuristic software-driven wonders. The Lab is well equipped with 30 Client machines configured under a Server Computer with over ear headphones and built in Microphones. 
            </p>
            <a href="gallery.html" class="read-more bg-primary"
              >Go to Gallery <i class="icofont-long-arrow-right"></i
            ></a>
          </div>

          <div class="col-lg-6 order-2 order-lg-1">
            <img
              src="assent/images/dept/cv1.svg"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- language lab end -->

     <!-- ======= Seminarhall Section ======= -->
     <section id="seminarhall" class="about" data-aos="fade-up">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Seminar Hall</h2>
          <!-- <p>To develop eminent and ethical leaders in society by imparting quality professional education with emphasis on human values and holistic excellence.</p> -->
        </div>
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img
              src="assent/images/sections/seminar.svg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <p style="text-align: justify">
              The college has 1 main Seminar Hall and 5 departmental seminar
              halls. All are aesthetically designed. The seminar hall is
              facilitated with the latest technology and is well – equipped with
              multimedia projectors. which provides a special ambience for every
              event. It makes possible an ideal setting for carrying out various
              conferences and delivering lectures. Each has a seating capacity
              of 100 people. Each seat is equipped with a pull-out writing
              ‘tablet’ to support note-taking.
            </p>
            <a href="gallery.html" class="read-more bg-primary"
              >Go to Gallery <i class="icofont-long-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </section>
    <!-- End seminar hall Section -->

    <!-- ======= Aud Section ======= -->
    <section id="aud" class="about" data-aos="fade-up">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Auditorium</h2>
          <!-- <p>To develop eminent and ethical leaders in society by imparting quality professional education with emphasis on human values and holistic excellence.</p> -->
        </div>
        <div class="row">
          <div class="col-lg-6 pt-4 pt-lg-0 order-1 order-lg-2 content">
            <p style="text-align: justify">
              College has a well furnished auditorium, located in the main
              block. It has a seating capacity of 800 audiences. The auditorium
              is used for activities such as seminars, guest lectures, cultural
              activities,important functions and meetings of students and
              faculties, department functions and other events. The auditoriums
              are equipped with latest public addressing,LCD projectors and
              comfortable seats.
            </p>
            <a href="gallery.html" class="read-more bg-primary"
              >Go to Gallery <i class="icofont-long-arrow-right"></i
            ></a>
          </div>

          <div class="col-lg-6 order-2 order-lg-1">
            <img
              src="assent/images/sections/audi.svg"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Aud Section -->

    

    <!-- ======= Boys hostel Section ======= -->
    <section id="boyshostel" class="about" data-aos="fade-up">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Boys hostel</h2>
          <!-- <p>To develop eminent and ethical leaders in society by imparting quality professional education with emphasis on human values and holistic excellence.</p> -->
        </div>
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img
              src="assent/images/sections/hostel.svg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <p style="text-align: justify">
              The Hostels are under direct control of the Warden and each hostel
              is having one or two members of the staff of the college as
              Assistant Wardens and they shall be responsible to all matters
              connected with the Hostel. The Warden shall have the power to
              frame standing orders/ rules to regulate internal matters and
              other details not explicitly covered by these rules. The Principal
              is the Ex Officio Chief Warden and his decisions shall be final in
              the interpretation of rules and all matters connected with the
              Hostel. Application for admission to hostels should be submitted
              in the prescribed form to the Warden
            </p>
            <a href="gallery.html" class="read-more bg-primary"
              >Go to Gallery <i class="icofont-long-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </section>
    <!-- End Boys hostel Section -->

    <!-- ======= Girls hostel Section ======= -->
    <section id="girlshostel" class="about" data-aos="fade-up">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Girls hostel</h2>
          <!-- <p>To develop eminent and ethical leaders in society by imparting quality professional education with emphasis on human values and holistic excellence.</p> -->
        </div>
        <div class="row">
          <div class="col-lg-6 pt-4 pt-lg-0 order-1 order-lg-2 content">
            <p style="text-align: justify">
              Each Student admitted to the hostel will be provided with
              essential furniture for which he/she should give a receipt and for
              the safety of which they shall be responsible. Hostel furniture
              shall not be removed from one room to other under any
              circumstances. Students should provide their own bedding and
              trunks to lock things in. The articles of furniture shall be
              returned and a receipt may be obtained at the time of leaving the
              hostel. Students can bring in other articles only on the written
              permission of the Warden. Each hostel is provided with a
              television, water cooler and kit for indoor games.
            </p>
            <a href="gallery.html" class="read-more bg-primary"
              >Go to Gallery <i class="icofont-long-arrow-right"></i
            ></a>
          </div>

          <div class="col-lg-6 order-2 order-lg-1">
            <img
              src="assent/images/sections/hostel.svg"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Girls hostel Section -->

   

    <!-- ======= Canteen Section ======= -->
    <section id="canteen" class="about" data-aos="fade-up">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Canteen</h2>
          <!-- <p>To develop eminent and ethical leaders in society by imparting quality professional education with emphasis on human values and holistic excellence.</p> -->
        </div>
        <div class="row">
          <div class="col-lg-6 pt-4 pt-lg-0 order-1 order-lg-2 content">
            <p style="text-align: justify">
              College canteen is located at a easily accessible area to all
              departments. Variety of refreshments and meals available at the
              college canteen at affordable rates. Adequate seating facilities
              are provided to accomodate students and staff even during peak
              time. It tends to be the most popular place on campus, not only
              for physical refreshment but also for student bonding, discussions
              and even work on assignments and projects.
            </p>
            <a href="gallery.html" class="read-more bg-primary"
              >Go to Gallery <i class="icofont-long-arrow-right"></i
            ></a>
          </div>

          <div class="col-lg-6 order-2 order-lg-1">
            <img
              src="assent/images/sections/canteen.svg"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Canteen Section -->

    <!-- preloader start   -->

<div class="loader"></div>

<!-- preloder end -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="assent/js/jquery-2.2.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="assent/s/app.js"></script>

    <!-- see blast.min.css -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- FADE -->
    <script>
      AOS.init({
        once: true,
      });
    </script>

    <!-- LOADER -->
    <script type="text/javascript">
      jQuery(window).load(function () {
        jQuery(".loader").fadeOut(500);
      });
    </script>
    <!-- IMAGE ZOOM IN ZOOM OUT -->
    <script>
      const bg = document.getElementById("home");
      window.addEventListener("scroll", function () {
        bg.style.backgroundSize = 180 - +window.pageYOffset / 12 + "%";
      });
    </script>
    <!-- SCROLL TO TOP -->
    <script type="text/javascript">
      (function ($, window, document) {
        $.fn.goTop = function (options) {
          var defaults = {
            scrollTop: 100,
            scrollSpeed: 1000,
            fadeInSpeed: 1000,
            fadeOutSpeed: 500,
          };
          var options = $.extend(defaults, options);
          var $this = $(this);
          $(window).on("scroll", function () {
            if ($(window).scrollTop() > options.scrollTop) {
              $this.fadeIn(options.fadeInSpeed);
            } else {
              $this.fadeOut(options.fadeOutSpeed);
            }
          });
          $this.on("click", function () {
            $("html,body").animate(
              {
                scrollTop: 0,
              },
              options.speed
            );
          });
        };
      })(jQuery, window, document);

      $("#go-top").goTop({
        scrollTop: 100,
        scrollSpeed: 1000,
        fadeInSpeed: 1000,
        fadeOutSpeed: 500,
      });
    </script>