

  <!-- inner banner -->
  <div class="inner_banner layer" id="home" style="background-attachment: fixed">
    <div class="container">
      <div class="agileinfo-inner">
        <h2 class="text-center" style="color: rgba(255, 255, 255, 0.493)">
          Mechanical Engineering Workshop
        </h2>
      </div>
    </div>
  </div>
  <!-- //inner banner -->

  <!-- breadcrumbs -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Departments</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        General Workshop
      </li>
      <li class="breadcrumb-item">
        <a href="compengg.html">Computer</a>
      </li>
      <li class="breadcrumb-item">
        <a href="eleengg.html">Electronics</a>
      </li>
      <li class="breadcrumb-item">
        <a href="printtech.html">Printing</a>
      </li>
      <li class="breadcrumb-item">
        <a href="gendept.html">General Department</a>
      </li>
      <li class="breadcrumb-item">
        <a href="office.html">Office</a>
      </li>
    </ol>
  </nav>
  <!-- //breadcrumbs -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="section-title content">
      <p style="text-align: justify">
        Mechanical Engineering Workshop is the branch of science and technology through which we develop or only things which is beneficial
        for mankind
        Workshop is the place where practical work has been undertaken basic training on fitting welding carpentry sheet
        metal are given in engineering workshop.
      </p>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= mission vission Section ======= -->
  <!-- <section id="mission" class="about">
      <div class="container">
        <div class="section-title"></div>

        <div class="row">
          <div
            class="col-lg-6 order-1 order-lg"
            data-aos="zoom-in"
            data-aos-delay="150"
          >
            <img src="assent/images/dept/cv1.svg" class="img-fluid" alt="" />
          </div>
          <div
            class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content"
            data-aos="fade-right"
          >
            <h3>Vision</h3>
            <p style="font-size: 20px; text-align: justify">
              Technical institution of the highest order with a transformative
              impact on society.
            </p>
           
        </div>

        <div class="row">
          <div
            class="col-lg-6 order-1 order-lg-2"
            data-aos="zoom-in"
            data-aos-delay="150"
          >
            <img src="assent/images/dept/wm1.jpg" class="img-fluid" alt="" />
          </div>
          <div
            class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content"
            data-aos="fade-right"
          >
            <h3>Mission</h3>
            <p
              class="missionpoint"
              style="font-size: 20px; text-align: justify"
            >
              <i class="icofont-long-arrow-right"></i> Endeavour to create and
              sustain an academic environment that accelerates intellectual
              growth and skill acquisition. <br />

              <i class="icofont-long-arrow-right"></i> Realise a collaborative
              relationship between the institute and industry. <br />

              <i class="icofont-long-arrow-right"></i> Facilitate an active
              involvement in the society through technology transfer,
              entrepreneurship development and societal outreach programmes
            </p>
           
          </div>
        </div>
      </div>
      </div>
    </section> -->
  <!-- End mission vision Section -->

  <!-- trade sectionn start -->
  <section id="trades" class="container trade" data-aos="fade-up">
    <div class="section-title">
      <h2>Sections</h2>
      <!-- <p>Our former student Dr.Rajendrakumar Anayat who stood in 1st rank from the Institution in 1990 received Printing Industry Research Association [PIRA] academic excellence award..</p> -->
    </div>
    <div class="owl-carousel owl-theme card-deck">
      <div class="item">
        <!-- Card Wider -->
        <div class="card card-cascade wider">
          <!-- Card image -->
          <div class="view view-cascade">
            <img class="card-img-top cardimg" src="assent/images/dept/carpentry.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center" style="height: 18.5rem;">
            <!-- Title -->
            <h4 class="card-title"><strong>CARPENTRY</strong></h4>
            <!-- Text -->
            <p class="card-text" style="text-align: justify;">
              Carpentry is a skilled trade and a craft in which the primary work performed is the cutting, shaping and
              installation of building materials during the construction of buildings, ships, timber bridges, concrete
              formwork, etc.</p>
          </div>
        </div>
        <!-- Card Wider -->
      </div>

      <div class="item">
        <!-- Card Wider -->
        <div class="card card-cascade wider">
          <!-- Card image -->
          <div class="view view-cascade">
            <img class="card-img-top cardimg" src="assent/images/dept/fitting.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center" style="height: 18.5rem;">
            <!-- Title -->
            <h4 class="card-title"><strong>FITTING</strong></h4>
            <!-- Text -->
            <p class="card-text" style="text-align: justify;">
              in engineering bench work and fitting have an important role to play to complete and finish a job in a
              desired accuracy. fitting is the assembling together of arts and removing metals to secure the necessary fit
              and may or may not be carried out at bench ot out at the bench. </p>
          </div>
        </div>
        <!-- Card Wider -->
      </div>
      <div class="item">
        <!-- Card Wider -->
        <div class="card card-cascade wider">
          <!-- Card image -->
          <div class="view view-cascade">
            <img class="card-img-top cardimg" src="assent/images/dept/sheetmetal.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center" style="height: 18.5rem;">
            <!-- Title -->
            <h4 class="card-title"><strong>SHEET METAL</strong></h4>
            <!-- Text -->
            <p class="card-text" style="text-align: justify;">
              Sheet metal work is generally regards as the working of sheet from 16 gauge down to 30 gauge with hand tools
              and simple machines by cutting and forming into shape the joining them by soldering riveting etc.            </p>
          </div>
        </div>
        <!-- Card Wider -->
      </div>
<div class="item">
     
        <div class="card card-cascade wider">
       
          <div class="view view-cascade">
            <img class="card-img-top cardimg" src="assent/images/dept/grphics.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

       
          <div class="card-body card-body-cascade text-center" style="height: 18.5rem;">
         
            <h4 class="card-title"><strong>Graphics</strong></h4>
        
            <p class="card-text" style="text-align: justify;">
              The subject of 'Engineering Graphics' has become an indispensable tool for Engineers, Technocrats, Architects, Draftsmen, Surveyors, Designers and many other professionals in the recent times. 
            </p>
          </div>
        </div>
     
      </div>

    </div>
  </section>
  <!-- trades section end -->

  <!-- STAFFLIST -->

  <section class="section staff border-top border-bottom text-center">
    <div class="container">
      <!-- Section heading -->
      <div class="section-title">
        <h2>STAFFS</h2>
      </div>
      <!-- Section description -->
      <!-- <p
          class="text-muted w-responsive mx-auto mb-5"
          style="text-align: justify"
        >
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error
          amet numquam iure provident voluptate esse quasi, veritatis totam
          voluptas nostrum quisquam eum porro a pariatur veniam.
        </p> -->

      <!-- Grid row -->
      <div class="owl-carousel owl-theme card-deck">
        <div class="item">
          <!-- Card Wider -->
          <div class="card card-cascade wider">
            <!-- Card image -->
            <div class="view view-cascade team-img">
              <img class="card-img-top" src="assent/images/Workshop/Manikandan.jpg" alt="Card image cap" />
              <div class="overlay">
                <div class="w3l-social">
                  <ul>
                    <li>
                      <a href="#"><i class="icofont-facebook"></i></a>
                    </li>
                    <li>
                      <a href="mailto:manikandanvk1970@gmail.com"><i class="icofont-email"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="icofont-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Title -->
              <h4 class="card-title"><strong>Manikandan V K</strong></h4>
              <!-- Subtitle -->
              <h5 class="blue-text pb-2"><strong>Workshop Foreman</strong></h5>
              <!-- <h6>Ph:9288859326</h6> -->
              <!-- Text -->
            </div>
          </div>
          <!-- Card Wider -->
        </div>

        <div class="item">
          <!-- Card Wider -->
          <div class="card card-cascade wider">
            <!-- Card image -->
            <div class="view view-cascade team-img">
              <img class="card-img-top" src="assent/images/Workshop/Sivan.jpg" alt="Card image cap" />
              <div class="overlay">
                <div class="w3l-social">
                  <ul>
                    <li>
                      <a href="#"><i class="icofont-facebook"></i></a>
                    </li>
                    <li>
                      <a href="mailto:sivanmankara@gmail.com"><i class="icofont-email"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="icofont-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Title -->
              <h4 class="card-title"><strong>Sivan P C</strong></h4>
              <!-- Subtitle -->
              <h5 class="blue-text pb-2"><strong>Workshop Instructor</strong></h5>
              <!-- <h6>Ph:9446327575</h6> -->
              <!-- Text -->
            </div>
          </div>
          <!-- Card Wider -->
        </div>

        <div class="item">
          <!-- Card Wider -->
          <div class="card card-cascade wider">
            <!-- Card image -->
            <div class="view view-cascade team-img">
              <img class="card-img-top" src="assent/images/Workshop/Anas.jpg" alt="Card image cap" />
              <div class="overlay">
                <div class="w3l-social">
                  <ul>
                    <li>
                      <a href="#"><i class="icofont-facebook"></i></a>
                    </li>
                    <li>
                      <a href="mailto:anasthavakkal@gmail.com"><i class="icofont-email"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="icofont-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Title -->
              <h4 class="card-title"><strong>Anas S M</strong></h4>
              <!-- Subtitle -->
              <h5 class="blue-text pb-2"><strong>Trade Instructor</strong></h5>
              <!-- <h6>Ph:9446622280</h6> -->
              <!-- Text -->
            </div>
          </div>
          <!-- Card Wider -->
        </div>

        <div class="item">
          <!-- Card Wider -->
          <div class="card card-cascade wider">
            <!-- Card image -->
            <div class="view view-cascade team-img">
              <img class="card-img-top" src="assent/images/Workshop/SEbastian.jpg" alt="Card image cap" />
              <div class="overlay">
                <div class="w3l-social">
                  <ul>
                    <li>
                      <a href="#"><i class="icofont-facebook"></i></a>
                    </li>
                    <li>
                      <a href="mailto:sebansunny@iptgptc.ac.in"><i class="icofont-email"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="icofont-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Title -->
              <h4 class="card-title"><strong>Sabastian Joseph</strong></h4>
              <!-- Subtitle -->
              <h5 class="blue-text pb-2"><strong>Trade Instructor</strong></h5>
              <!-- <h6>Ph:9496593080</h6> -->
              <!-- Text -->
            </div>
          </div>
          <!-- Card Wider -->
        </div>
      </div>
    </div>
  </section>

  <!-- staff list end -->

  <!-- preloader start   -->

<div class="loader"></div>

<!-- preloder end -->

  <!-- script -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="assent/js/particles.js"></script>
  <script type="text/javascript" src="assent/js/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

  <script>
    $(".owl-carousel").owlCarousel({
      loop: true,
      autoplay: true,
      smartSpeed: 450,
      autoplayTimeout: 2000,
      autoplayHoverPause: true,
      margin: 10,
      nav: false,
      responsive: {
        0: {
          items: 1,
        },
        600: {
          items: 2,
        },
        720: {
          items: 2,
        },
        800: {
          items: 2,
        },
        1000: {
          items: 3,
        },
        1200: {
          items: 3,
        },
      },
    });
  </script>
  <!-- FADE -->
  <script>
    AOS.init({
      once: true,
    });
  </script>

  <!-- PRELOADER -->
  <script type="text/javascript">
    jQuery(window).load(function () {
      jQuery(".loader").fadeOut(500);
    });
  </script>

  <!-- ZOOMOUT ZOOMIN -->
  <script>
    const bg = document.getElementById("home");
    window.addEventListener("scroll", function () {
      bg.style.backgroundSize = 180 - +window.pageYOffset / 12 + "%";
    });
  </script>

  <!-- SCROLL TO TOP -->

  <script type="text/javascript">
    (function ($, window, document) {
      $.fn.goTop = function (options) {
        var defaults = {
          scrollTop: 100,
          scrollSpeed: 1000,
          fadeInSpeed: 1000,
          fadeOutSpeed: 500,
        };
        var options = $.extend(defaults, options);
        var $this = $(this);
        $(window).on("scroll", function () {
          if ($(window).scrollTop() > options.scrollTop) {
            $this.fadeIn(options.fadeInSpeed);
          } else {
            $this.fadeOut(options.fadeOutSpeed);
          }
        });
        $this.on("click", function () {
          $("html,body").animate(
            {
              scrollTop: 0,
            },
            options.speed
          );
        });
      };
    })(jQuery, window, document);

    $("#go-top").goTop({
      scrollTop: 100,
      scrollSpeed: 1000,
      fadeInSpeed: 1000,
      fadeOutSpeed: 500,
    });
  </script>
