@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/*-- counter --*/
a {
  text-decoration: none;
}
.stats_test {
  background: url(../images/sections/iptcounter.jpg) center no-repeat;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif !important;
}
.stats_test h3 span {
  font-size: 3rem !important;
  /* color: #555; */
  color: #fff;
  font-weight: bolder !important;
}

.stats_left p {
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 1px;
  color: #1ac0daa6;
  line-height: 2em;
}

.stats_left h4 {
  font-size: 1.1em;
  color: #eee;
  margin: 0;
  letter-spacing: 2px;
  font-weight: 600;
}

.stats_left i {
  font-size: 2.5em;
  color: #fff;
  margin: 0;
}

.stats_bottom_grid_left img {
  margin: 0 auto;
}
.stats_left {
  padding: 0;
  border-top: none;
  border-bottom: none;
}
p.second_para {
  font-size: 15px;
  color: #bbb;
  letter-spacing: 0.5px;
  line-height: 28px;
  font-weight: 600;
}
.stat_grid1 h4 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  color: #eee;
  margin-bottom: 15px;
  letter-spacing: 3px;
}
.stat_grid1 a {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 900;
  margin-top: 15px;
  color: #eee;
  letter-spacing: 3px;
  display: block;
}
.stat_grid1 a:hover {
  color: #17a2b8;
}
/*-- //counter --*/

/* history */
